
:root {
  --primary: #424242;
  --secondary: #202020;
  --trim: #86c232;
  /* --trim: #cecece; */
  --accent: #ffffff;
  --highlight: var(--trim); 
  
}

body {
  padding-top: 3.5rem;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background-color: var(--primary);
  color: var(--accent);
}

@media (min-width:1300px) {
    body {
        margin-left: 150px;
        margin-right: 100px;
    }
 }

title-name {
  text-decoration: none;
  color: var(--accent);
  font-size: 36px;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.navbar {
  background-color: var(--secondary);
  overflow: hidden;
  border-bottom: 4px solid var(--trim);
  font-size: 20px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28185, 144, 53, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  color: var(--accent);
}

.nav-link {
  color: var(--accent);
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: var(--highlight);
  color: var(--accent);
}

.fa-linkedin {
  background: var(--highlight);
  color: var(--accent);
}

.fa-github {
  background: var(--highlight);
  color: var(--accent);
}

.project-box {
  padding-top: 1.0em;
}

.project-img {
  
}

.project-title {
  
}

.project-author {
  
}